{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^h$"
      }
    ],
    "react/prop-types": "off",
    "react/no-unknown-property": [
      "error",
      { "ignore": ["class"] } // don't auto format these attrs
    ]
  },
  "settings": {
    "react": {
      "pragma": "h"
    }
  }
}
